<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="UTF-8">
    <title>{{ post.site_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<div class="header">
    <div class="header-main">
        <div class="headerlogo">
            <a href="/">{{ post.site_name }}</a>
        </div>
        <div class="headermenu">
            <ul>
            {% for lang in config.Language_list %}
                <li><a href="{{ request.scheme }}://{{ lang[0] }}{{ post.domain }}/" title="ToolBox">{{ lang[1] }}</a></li>
            {% endfor %}
            <li><a href="https://ssl.microsofttranslator.com/bv.aspx?to={{ locale }}&a={{ request.scheme }}://default{{ post.domain }}/" title="ToolBox">Translate to {{ locale|upper }}</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="content post entry ">
   {{ text|md|safe }}
</div>


<div class="footer">
    <p> &copy; {{ now.year }} {{ post.author }}, All Rights Reserved.</p>
</div>


</body>
</html>


